<!DOCTYPE html>

<html>
    <head>
      {% load static %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
    

    </head>
    <body>
       <nav class="nav-extended blue-grey darken-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">ETrader</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
    
            <li><a href="#">Login/Signup</a></li>
         
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            
            <li class="tab"><a class="active" href="/">Home</a></li>
            <li class="tab"><a href="/socket_data">Sockets data</a></li>
            <li class="tab"><a href="#test1">Simulator/Backtesting</a></li>
          </ul>
        </div>
      </nav>

      <div style="margin: auto; width: 50%; padding: 10px;" >
        <form action="/formdata/" method="GET" class="col s12">
            {% csrf_token %} 
            {{form}}
            {% for key, value in form.CHOICES.choices %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>

  

  <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Trading & Simulation</h5>
          <p class="grey-text text-lighten-4">We provide simulation/backtesting of your trading strategy</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Follow us on</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
           
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2022-2023 Batch UMIT Major Project
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>


    </body>
</html>